<input type="text" style="display: none;" hidden="hidden" name="salt" id = "salt" value="<%= @salt %>"/>
<input type="text" style="display: none;" hidden="hidden" name="publickey" id="publickey" value="<%= @publickey %>"/>

<% if @user_errors.any? %>
    <div id="error_explanation" class="error">
      <h3><%= pluralize(@user.errors.count, "error") %> happened:</h3>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<% if @doublepost then %> <div class="error">Double same form submission detected.</div><%end%>
<% if @decryption_failed then %> <div class="error">Failed to decrypt your submission, try again.</div><%end%>
<div class="field">
	<label>Username</label>
	<input type="text" id="username" value="<%= @name %>"/>
	<div class="error"  <%= 'hidden="hidden"' unless @username_empty %> name="username-empty">
		You need a name.</div> 
	<div class="error"  <%= 'hidden="hidden"' unless @username_too_short %> name="username-too-short">
		Too short. One symbol name confuses me, please take longer name.</div>
	<div class="error"  <%= 'hidden="hidden"' unless @username_too_long %> name="username-too-long">
		Too long. Names longer than 50 symbols are not supported.</div>
	<div class="error"  <%= 'hidden="hidden"' unless @username_incorrect %> name="username-incorrect">
		The username better be of some letters and numbers.</div>
	<div class="error" <%= 'hidden="hidden"' unless @username_taken %> name="username-taken">
		The username is taken.</div>
	
	<label class="err" hidden="hidden" name="username_incorrect">The username better be of some letters and numbers.</label>
	
</div>
<div class="field">
	<label>Password</label>
	<input type="password" id="password" value=""/>
	<label class="err"  <% unless @password_incorrect then %>hidden="hidden"<% end %> >Password to short</label> 
</div>
<div class="field">
	<label>Verify password</label>
	<input type="password" id="verify" value=""/>
	<label class="err" hidden="hidden" name>Do not match.</label>
</div>
<div class="field">
	<label>Em@il</label>
	<input type="text" id="email" value="<%= @email %>"/>
	<div class="error"  <%= 'hidden="hidden"' unless @email_empty %> id="email-empty">
		Email should be present.</div> 
	<div class="error"  <%= 'hidden="hidden"' unless @email_too_long %> id="email-too-long">
		Too long. Emails loger than 255 are not allowed.</div>
	<label class="err" hidden="hidden" <%= 'hidden="hidden"' unless @email_incorrect %> id="email-incorrect">
		Does not look much like email.</label>	
    <div class="error" <%= 'hidden="hidden"' unless @email_taken%> name="email-taken" >
	    User with such email already registered.
        <!--<input type="button" class="btn" value="Recover account." id="recover-by-email" onclick="recover_by_email(<%= @email %>)" />-->
    </div>
</div>

<input type="button" class="btn" value="Sign Up" id="sign-up-button" onclick="test()" />
