<div class="field">
	<%= f.label :name, "Username" %>
	<%= f.text_field :name %>
	<div class="error"  <%= 'hidden="hidden"' unless @user.name_empty %> id="name-empty">
		You need a name.</div> 
	<div class="error"  <%= 'hidden="hidden"' unless @user.name_too_short %> id="name-too-short">
		Too short. One symbol name confuses me, please take longer name.</div>
	<div class="error"  <%= 'hidden="hidden"' unless @user.name_too_long %> id="name-too-long">
		Too long. Names longer than 50 symbols are not supported.</div>
	<div class="error"  <%= 'hidden="hidden"' unless @user.name_invalid %> id="name-invalid">
		The username better be of some letters and numbers.</div>
	<% if for_new %> 
		<div class="error" <%= 'hidden="hidden"' unless @user.name_taken %> id="name-taken">
			The username is taken.</div>
	<% else %>
		<div class="error" <%= 'hidden="hidden"' unless @user.name_unknown %> id="name-unknown">
			No user with such username found.</div>
	<% end %>
</div>