<header class="hat" id="header">
	<h1><%= link_to yield(:appname), root_path, id: 'alogo' %></h1>
	<nav class="top_nav">
	    <% if logged_in? %>
	        <%= link_to 'Profile', current_user, class: 'sign' %> | <%= link_to 'Log out', logout_path, class: 'sign' %>
	    <% else %>
		    <%= link_to 'Sign up', signup_path, class: 'sign' %> | <%= link_to 'Log in', login_path, class: 'sign' %>
		<% end %>
	</nav>
</header>