<!DOCTYPE html>

<% provide(:appname, "Omni<small style=\"font-size:0;\"> </small>scient".html_safe) %>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= sanitize(yield(:title)) %><%= ' | ' unless yield(:title).empty? %>Omniscient</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id ="footer-pusher-workaround">
    <% if Rails.env.development?  %>
      <div style="font-size: 16px;">
      <%= debug(params) %>
      </div>
    <% end %>S
    <%= render 'layouts/header' %>
    <div id ="main-side-padding">

    	<main id="main">      
        <div class="error"><%= sanitize(params[:msg]) %></div>
        <h2><%= yield(:title) %></h2>
      	<%= yield %>
    	</main>
    </div>
  </div>
  <%= render 'layouts/footer' %>

</body>
</html>

